body {
  background: url("../images/cactus-background.png");
  /* background-color: rgb(194, 118, 107); */
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  border-bottom: 1px solid black;
  width: 100%;
  margin-bottom: 5px;
  top: 0;
  background-color: rgb(233, 230, 223);
  color: #000;
}

h3 {
  color: #000;
  font-size: 2rem;
  text-shadow: 2px 1px #fff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


header img {
  width: 95px;
  height: 75px;
  padding: 10px;
  border-radius: 100%;
}

.container {
  margin-top: 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
}

#contacts {
  /* background: rgb(253, 255, 204); */
  background-color: rgb(233, 230, 223);
  -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
  box-shadow: 0 0 10px rgba(0,0,0,.3);
  padding: 2.25%; /* 18px / 800px */
  width: 85%;
  margin: 8px auto;
}

.inbox {
  display: flex;
  flex-direction: column;
  /* background: rgb(253, 255, 204); */
  background-color: rgb(233, 230, 223);
  -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
  box-shadow: 0 0 10px rgba(0,0,0,.3);
  margin: 8px auto;
  padding: 2.25%; /* 18px / 800px */
  width: 85%;
}

.inbox_message {
  background-color: #C0C0C0;
  border: 1px solid black;
  padding: .5rem;
  width: 95%;
  margin: 2px;
}

.inbox_message a {
  text-decoration: none;
  color: black;
}

.instruct {
  margin-bottom: 10px;
  font-size: 1.5rem;
}

#title_button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#create_new button {
  background-color: rgb(194, 118, 107);
  padding: .5rem 1rem;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0,0,0,.3);
}

#create_new button a,
#logout button a,
#show_email button[type=button] a,
.email_contact_buttons button[type=button] a {
  text-decoration: none;
  color: white;
}

#logout button,
#new_box input[type=submit],
#show_email button[type=button],
.email_contact_buttons button[type=button] {
  background-color: rgb(194, 118, 107);
  padding: .5rem 1rem;
  margin: 8px 20px 8px 1px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0,0,0,.3);
  color: white;
}

.inbox_message:hover, .outbox_message:hover {
  background-color: rgb(196, 207, 97);
  box-shadow: 0 0 10px rgba(0,0,0,.3);
}

#outbox {
  display: flex;
  flex-direction: column;
  /* background: rgb(253, 255, 204); */
  background-color: rgb(233, 230, 223);
  -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
  box-shadow: 0 0 10px rgba(0,0,0,.3);
  margin: 8px auto;
  padding: 2.25%; /* 18px / 800px */
  width: 85%;
}

.outbox_message {
  background-color: #C0C0C0;
  border: 1px solid black;
  padding: .5rem;
  width: 95%;
  margin: 2px;

}

.outbox_message a {
  text-decoration: none;
  color: black;
}

input[id=new_contact], textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#new_box {
  margin-top: 2rem;
}

/*-------Show Email Styles --------*/

#email_contacts {
  display: flex;
  justify-content: space-between;
  /* background: rgb(253, 255, 204); */
  background-color: rgb(233, 230, 223);
  -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
  box-shadow: 0 0 10px rgba(0,0,0,.3);
  margin: 8px auto;
  padding: 2.25%; /* 18px / 800px */
  width: 85%;
}

.email_contact_buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.email_contact_buttons button[type=button] {
  width: 10rem;
}

.email_users {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 2rem;
}

#show_email p {
  border-bottom: 1px solid #000;
  padding-bottom: 2%;
}

.email_content

  background-color: white;
}

/* -------Footer Styles--------- */

footer {
  position: relative;
  text-align: center;
  margin-top: 40%;
}
