<form action="/signup" method="POST">

  <br><br>
  <label for="username">Username: </label>
  <input id="username" type="text" name="username">

  <br><br>
  <label for="email_address">Email: </label>
  <input id="email_address" type="text" name="email_address">

  <br><br>
  <label for="password">Password: </label>
  <input id="password" type="password" name="password">

  <br><br>
  <input type="submit" name="signup">

</form>
