<div id="failure">
  <h1>Something went wrong!</h1>

  <button type="button" name="button"><a href="/signup">Click here to signup</a></button>

  <br><br>

  <button type="button" name="button"><a href="/login">Click here to login</a></button>

</div>
