<div id="failure">
  <h3>Something went wrong!</h3>

  <br><br>

  <% if flash.has?(:message) %>
    <%= flash[:message] %>
  <% end %>

  <br><br>

  <button type="button" name="button"><a href="/signup">Click here to signup</a></button>

  <br><br>

  <button type="button" name="button"><a href="/login">Click here to login</a></button>

</div>
