<form action="/login" method="post">

  <label> LOGIN! </label>

  <br><br>

  <label for="email_address">Email Address:</label>
  <input type="text" name="email_address">

  <br><br>

  <label for="password">Password:</label>
  <input type="password" name="password">

  <br><br>

  <input id="submit" type="submit" value="Log In">

</form>

<button type="button" name="button"><a href="/signup">signup</a> </button>
