<div id="login_page">

  <div class="headline">
    <h2>LiteMail</h2>
  </div>

  <div id="login">

    <form action="/login" method="POST"

      <h3> USER LOGIN </h3>

      <br><br>

      <label for="email_address"></label>
      <input type="text" name="email_address" placeholder="email address...">

      <br><br>

      <label for="password"></label>
      <input type="password" name="password" placeholder="password...">

      <br><br>

      <input id="submit" type="submit" value="Log In">

    </form>

  </div>


  <div id="signup">
    <h4>New to LiteMail?</h4>

    <br><br>

    <button type="create_account" name="button"><a href="/signup">Create Account</a> </button>

  </div>

</div>
