<h1>Welcome, <%= @current_user.username %></h1>


<% if @emails == nil %>
    <h2>Your inbox is empty</h2>
<% else %>
  <li>
    <% @emails.each do |email|  %>
      <li> email.content %></li>
    <% end %>
  </li>
<% end %>

<button type="button" name="button"><a href="/edit">Create New Email</a></button>

<button type="button" name="button"><a href="/logout">Logout</a></button>
