<header>
  <div class="header">
    <a href="/inbox"><img src="../images/black-letter.png" alt="envelope"></a>
    <h1>New Message</h1>
  </div>
  <div id="logout">
    <button type="button" name="button"><a href="/logout">Logout</a></button>
    <button type="button" name="button"><a href="/inbox">Back to inbox</a> </button>
  </div>
</header>

<div class="box" id="new_contacts">
  <h3>CONTACTS </h3>
    <% contact_array = [] %>
    <% @contacts.each do |contact| %>
      <% contact_array << contact.address %>
    <% end %>
      <span><%= contact_array.uniq.join(", ") %></span>
</div>

<div class="box" id="new_box">
  <% if flash.has?(:message) %>
    <%= flash[:message] %>
  <% end %>
  <form action="/inbox" method="post">
    <input type="text" name="contact[address]" placeholder="Add contact...">

    <br><br>

    <textarea type="text" id="new_email" name="email[content]" placeholder="type message here..." rows="8" cols="80"></textarea>

    <br><br>

    <input type="submit" name="send" value="send">
  </form>
</div>
