<h1>New Email</h1>

<form action="/inbox" method="post">
  <label>Add Contact: </label>
  <input id="new_contact" type="text" name="contact[address]">

  <br><br>

  <label for="email[content]">Content: </label>
  <textarea type="text" id="new_email" name="email[content]" rows="8" cols="80"></textarea>

  <br><br>

  <input type="submit" name="send" value="send">
</form>
