<header>
  <div class="header">
    <a href="/inbox"><img src="../images/cactus-background.png" alt="roadrunner image"></a>
    <h1>New Email</h1>
  </div>
  <div id="logout">
    <button type="button" name="button"><a href="/logout">Logout</a></button>
  </div>
</header>

<div class="inbox" id="new_box">
  <form action="/inbox" method="post">
    <input id="new_contact" type="text" name="contact[address]" placeholder="Add contact...">

    <br><br>

    <textarea type="text" id="new_email" name="email[content]" placeholder="type message here..." rows="8" cols="80"></textarea>

    <br><br>

    <input type="submit" name="send" value="send">
  </form>
</div>
