<h1>New Email</h1>

<form action="/new" method="post">
  <label for="contact[address]">Contact: </label>
  <input id="contact[address] type="text" name="contact[address]">

  <br><br>

  <label for="email[content]">Content: </label>
  <textarea id="email[content]" name="email[content]" rows="8" cols="80"></textarea>

  <br><br>

  <input type="submit" name="send" value="send">
</form>
